<div class="container">
	<div class="row">
        <h1>フォローしている人の共有動画</h1>
		<table class="table">
			<thead>
				<tr>
					<th>タイトル</th>
					<th>紹介者コメント</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @movies.each do |f| %>
				<tr>
					<td><%= link_to f.title, movie_path(f) %></td>
					<td><%= f.introducer_comment %></td>
					<td>
						<%= link_to image_tag("http://img.youtube.com/vi/#{f.movie_url_id}/mqdefault.jpg"), movie_path(f) %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @movies %>
    </div>
</div>
