<div class="container">
	<div class="row">
		<div class="col-3"></div>
		<h2>information</h2>
		<div class="information-box col-6 bg">
			<div class=""><%=%></div>
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row">
		<h3 class="recommend-text">こんな動画はいかがですか？</h3>
		<div class="contents">
			<% @movies.each do |f| %>
			<div class="content-box">
			    <%= link_to image_tag("https://img.youtube.com/vi/#{f.movie_url_id}/mqdefault.jpg"), movie_path(f) %>

				<div class="content-title">
				    <%= link_to f.title, movie_path(f) %>
				</div>
		    </div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10"></div>
		<div>
			<%= link_to 'もっと見る>', movies_path, class:"more-btn more" %>
		</div>
	</div>
</div>
